<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property='og:title' content='Elixir Newbie'/>
    <meta property='og:image' content='/images/default.png'/>
    <meta property='og:description' content='Dedicated to helping developers learn Elixir.'/>
    <meta property='og:url' content='//www.elixirnewbie.com/'/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag "Elixir Newbie" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script src="https://kit.fontawesome.com/bf8cc527ea.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
