@media (min-width: 768px) {
  .footer {
    visibility: hidden;
    display: none;
  }
}

@media (max-width: 767px) {
  .footer {
    height: 80px;
    grid-area: footer;
    width: 100%;
    background-color: var(--primary);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "home-link blog-link podcast-link";
    column-gap: 5px;
  }
  .footer_link {
    border: none;
    color: var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--surface0);
    flex-direction: column;
  }
  .footer_link--home {
    grid-area: home-link;
  }
  .footer_link--blog {
    grid-area: blog-link;
  }
  .footer_link--podcast {
    grid-area: podcast-link;
  }
  .footer_icon {
    color: white;
  }
}
