@media (min-width: 768px) {
  /* This is a bit hacky, and should be refactored to leverage tailwind */
  .navigation {
    grid-area: navigation;
    width: 100%;
    height: min-content;
    min-height: 50px;
    display: grid;
    grid-template-columns: 10px auto auto auto 5fr auto auto 10px;
    grid-template-rows: auto auto;
    column-gap: 3vw;
    row-gap: 0;
    grid-template-areas:
      "... brand blog-link podcast-link ... twitter-link linkedin-link ..."
      "hr hr hr hr hr hr hr hr";
    align-items: center;
  }

  .navigation__hr {
    grid-area: hr;
  }

  .navigation__link--blog {
    grid-area: blog-link;
  }

  .navigation__link--podcast {
    grid-area: podcast-link;
  }

  .navigation__brand {
    grid-area: brand;
    max-height: 8vh;
    min-height: 60px;
    overflow: hidden;
  }

  .navigation__icon {
    font-size: 2em;
    min-width: 1em;
    min-height: 1em;
    text-decoration: none;
    border-radius: 50%;
    padding: 10px;
    color: white;
  }

  .navigation__icon--twitter {
    grid-area: twitter-link;
  }

  .navigation__icon--linkedin {
    grid-area: linkedin-link;
  }
}

@media (max-width: 767px) {
  .navigation {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
  }

  .navigation__brand {
    height: 6vh;
    min-height: 60px;
  }
  .navigation__icon,
  .navigation__social-links,
  .navigation__link {
    visibility: hidden;
    display: none;
  }
}
