.content {
  grid-area: content;
}

@media (min-width: 601px) {
  .page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "navigation" "content";
    height: 100vh;
  }
}

@media (max-width: 600px) {
  .page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "navigation" "content" "footer";
  }
}
